@import 'tailwindcss';

@theme {
    --color-primary: #ff0000;
    --color-dark-bg: #131313;
    --color-dark-gray-bg: #3A3939;
    --color-primary: #00F5FF;
    --color-tertiary: #FFDB3F;
}

.btn {
    @apply py-2 px-4 rounded-md;
}