@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';


@theme {
    --color-primary: #ff0000;
    --color-dark: #131313;
    --color-dark-gray: #3A3939;
    --color-primary: #00F5FF;
    --color-tertiary: #FFDB3F;
    --font-jetmono: 'JetBrains Mono', monospace;
}

body {
    @apply bg-dark text-white
}

::selection {
    @apply bg-primary text-dark;
}

.btn {
    @apply py-2 px-4 rounded-md cursor-pointer;
}